<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="index3.html" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">ይገኛል</span>
  </a>

  <div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Mehari (Super Admin)</a>
      </div>
    </div>

   

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item menu-open">
          <a routerLink="/dashboard" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard

            </p>
          </a>

        </li>
        <li class="nav-item">
          <a routerLink="/users" class="nav-link">
            <i class="fas fa-user nav-icon"></i>
            <p>
              User 
            </p>
          </a>
        </li>

         <li class="nav-item">
          <a routerLink="/plan" class="nav-link">
            <i class="fas fa-tasks nav-icon"></i>
            <p>
              Plan
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/plan-request" class="nav-link">
            <i class="fa-regular fa-user nav-icon"></i>
            <p>
              Plan Request 
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/landing-page" class="nav-link">
            <i class="fas fa-file-alt nav-icon"></i>
            <p>
              Landing Page
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/setting" class="nav-link">
            <i class="fas fa-cog nav-icon"></i>
            <p>
              Setting 
            </p>
          </a>
        </li>
<li class="nav-header">Admin</li>
      

        <li class="nav-item">
          <a routerLink="/search" class="nav-link">
            <i class="fas fa-search nav-icon"></i>
            <p>
              Search 
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/add-found-item" class="nav-link">
           <i class="fas fa-plus nav-icon"></i>
            <p>
              Add Found Item 
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/register-enquiry" class="nav-link">
            <i class="fas fa-registered nav-icon"></i>
            <p>
              Register Enquiry 
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/pending" class="nav-link">
            <i class="fas fa-stopwatch nav-icon"></i>
            <p>
              Pending 
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/href" class="nav-link">
            <i class="fas fa-truck nav-icon"></i>
            <p>
              Delivered 
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/profit-analysis" class="nav-link">
            <i class="fas fa-chart-line nav-icon"></i>
            <p>
              Profit Analysis 
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-cog nav-icon"></i>
            <p>
              Setting 
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/support" class="nav-link">
            <i class="fas fa-headset nav-icon"></i>
            <p>
              Support 
            </p>
          </a>
        </li>


      </ul>
    </nav>

  </div>

</aside>