<!-- <div class="wrapper">

  <div class="preloader flex-column justify-content-center align-items-center">
  <img class="animation__shake" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>
  
 
  
  
  
  </div> -->
  <app-main-header></app-main-header>
  <app-alert></app-alert>
  <app-main-sidebar></app-main-sidebar>
  <app-control-sidebar></app-control-sidebar>
  <app-content-wrapper></app-content-wrapper>
  <!-- <router-outlet></router-outlet> -->
  <app-main-footer></app-main-footer>
  